section.homeDetails {
  display: grid;
  grid-template-columns: 1fr;
}
.logo {
  grid-row: 1;
  grid-column: 1;
  width: 8%;
  float: left;
}
.social a {
  display: inline;
}
img.imageOne,
img.imageTwo {
  margin-bottom: 1%;
}
.social {
  padding-top: 56px;
}
.footer {
  margin-top: 50px;
}
img.imageThree {
  border: #456b69 2px solid;
  box-shadow: 5px 10px #456b69;
}
