.logo {
  grid-row: 1;
  grid-column: 1;
  width: 8%;
  float: left;
}
div.trick-details,
div.tip-details {
  text-align: left;
  border: #426b69 2px solid;
  box-shadow: 5px 10px #426b69;
  margin-bottom: 50px;
}
.social {
  display: inline;
  padding-top: 56px;
}
.footer {
  margin-top: 50px;
}
.image002 {
  padding-top: 50px;
}
.waterheater {
  text-align: left;
  border: #426b69 2px solid;
  box-shadow: 5px 10px #426b69;
}
.margin-100 {
  margin-bottom: 100px;
}
