section.details {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: auto;
}
img.image1 {
  grid-row: 1;
  grid-column: 1;
  padding-top: 85px;
  padding-right: 25px;
}
.cartridge {
  grid-row: 1;
  grid-column: 2;
}
.faucet-components {
  /* padding-top: 50px;
  padding-left: 50px; */
}
img.image2 {
  grid-row: 2;
  grid-column: 1;
  padding-top: 75px;
}
.shop {
  grid-row: 2;
  grid-column: 2;
}
.stems {
  /* padding-left: 50px;
  padding-top: 50px; */
}
img.image4 {
  grid-row: 3;
  grid-column: 1;
  padding-top: 75px;
}
.works {
  grid-row: 3;
  grid-column: 2;
}
.working-faucet {
  /* padding-top: 50px;
  padding-left: 50px; */
}
.cartridge-removal {
  grid-row: 1;
  grid-column: 2;
}
.where-to-buy {
  grid-row: 2;
  grid-column: 2;
  /* padding-bottom: 50px; */
}
.replacing-cartridge {
  grid-row: 3;
  grid-column: 2;
}
.logo {
  grid-row: 1;
  grid-column: 1;
  width: 8%;
  float: left;
}
.stems,
.faucet-components,
.working-faucet {
  border: #426b69 2px solid;
  box-shadow: 5px 10px #426b69;
  text-align: left;
  /* max-height: 578px; */
}
.social {
  display: inline;
  padding-top: 56px;
}
.footer {
  margin-top: 50px;
}
.image001 {
  grid-row: 1;
  grid-column: 1;
  padding-top: 20px;
  padding-bottom: 20px;
}
.faucet-drip {
  text-align: left;
  border: #426b69 2px solid;
  box-shadow: 5px 10px #426b69;
  padding-bottom: 20px;
}
.faucet-components {
  /* padding-top: 50px; */
}

div.padding-50 {
  padding: 50px;
}
